{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Management Page</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png'%}">
  <link rel="manifest" href="{% static 'favicons/site.webmanifest'%}">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{% static 'css/admin_request.css'%}">
</head>
<body>
  <div class="admin-management-container">
    <div class="admin-answer">
      <form method="post" action="{% url 'admin_management' %}">
        {% csrf_token %}
        <select id="selected_ticket" name="selected_ticket">
          {% for ticket in tickets %}
            <option value="{{ ticket.id }}">{{ ticket.title }}</option>
          {% endfor %}
        </select>
        <textarea id="adminNote" name="adminNote" rows="4" placeholder="Write your note here..."></textarea>
        <select id="status" name="status">
          <option value="done">Done</option>
          <option value="in-progress">In Progress</option>
          <option value="not-seen">Not Seen</option>
        </select>
        <button type="submit">Submit Answer</button>
      </form>
      <a href="{% url 'admin_main' %}">Tickets List</a>
      <a class="logout-button" href="{% url 'login' %}">Logout!</a>
    </div>
  </div>

  <script src="{% static 'js/admin_request.js' %}"></script>
</body>
</html>
