
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
  background: linear-gradient(-45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}


@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --primary-color: #007bff; 
  --secondary-color: #060606; 
  --black-color: black; 
  --yellow-color: #FFD700; 
}

.admin-container {
  padding: 20px;
  color: #fff;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.admin-table th, .admin-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-table th {
  background-color: #f2f2f2;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.logout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF5733; 
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold; 
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #C70039; 
}

