
/* Login page styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main background with gradient */
body {
  overflow: hidden;
  background: linear-gradient(-45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

/* Loading page styles */
/* ... (previous styles remain the same) */

/* Animation for moving background */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Colors */
:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #060606; /* Darker Blue */
  --black-color: black; /* Black */
  --yellow-color: #FFD700; /* Yellow */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}