/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main background with gradient */
body {
  overflow: hidden;
  background: linear-gradient(-45deg, #FFC300, #FF5733, #C70039, #900C3F, #581845);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

/* Loading page styles */
/* ... (previous styles remain the same) */

/* Animation for moving background */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Colors */
:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #060606; /* Darker Blue */
  --black-color: black; /* Black */
  --yellow-color: #FFD700; /* Yellow */
}

/* Center clock */
.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
}

/* Style the form */
.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; /* Light gray */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form fields */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Light gray border */
}

textarea {
  resize: vertical;
}
.redirect-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for hover effect */
.redirect-button:hover {
  background-color: #0056b3;
}
.confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value for transparency */
  position: relative;
  z-index: 1; /* Place the confirmation container above the background */
}

.submitted-notification {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 70%; /* Adjust this width to your preference */
  margin: auto; /* Center the container horizontally */
}

.add-request-link {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color); /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.add-request-link {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color); /*Blue */
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.add-request-link:hover {
  background-color: var(--secondary-color); /* Darker Blue */
}

